/*
Imported by components/CountryFact.vue
*/
.country-fact {
  border-style: solid;
  border-color: lightslategray;
  border-width: 0.5px;
  border-radius: 5px;
  box-shadow: 4px 4px #888888;
  background-color: #b9f8cb;
  max-width: 82%;
  padding: 0.4rem;
  margin: 0.8rem;
  animation: stretchOut ease 5s;
  -webkit-animation: stretchOut ease 5s;
  -moz-animation: stretchOut ease 5s;
  -o-animation: stretchOut ease 5s;
}

@keyframes stretchOut {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 82%;
  }
}

@-moz-keyframes stretchOut {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 82%;
  }
}

@-webkit-keyframes stretchOut {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 82%;
  }
}

@-o-keyframes stretchOut {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 82%;
  }
}

.getFactLink {
  margin: 7px;
}

.getFactLink a{
  padding: 0.3rem;
  border-radius: 5px;
}

.country-fact-form input {
  margin-top: 1rem;
  padding: 0.3rem;
  width: 450px;
}

#fact-area{
  margin-left: 0.5rem;
}

/* Small screens */
@media (max-width: 600px) {
  .country-fact,
  .country-fact-form input {
    max-width: 87%;
  }
}
