* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-header,
.main-footer {
  text-align: center;
}

h1,
h2,
h3,
h4,
.main-footer {
  padding: 1rem;
}

button {
  padding: 0.3rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.btn-danger {
  background-color: red;
  color: white;
  font-weight: bold;
}
